@import 'variables';
@import 'homepage';
@import 'contact';
.makan{
 display: grid;
 grid-template-columns: repeat(12,1fr);
}

.login{
 grid-column: span 6;
 display: grid;
 &__body{
  background-color: aliceblue;
 }
 &__footer{
  background-color: $black;
 }
}
.btn{
 &--google{
  background-color: $black;
 }
 &--facebook{
  background-color: blue;
 }
}

.flex{
 display: flex;
 gap: 32px
}

.root{
 header{
  display: flex;
 }
 main{
  display: flex;
 }
 footer{
  display: flex;
 }
}